/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.Reservations {
    display: flex; /* Use flexbox to arrange children side by side */
    width: 100%; /* Full width of the parent */
    height: 90vh; /* Full height of the viewport, adjust as needed */
    
    justify-content: center;
}

.reservation-container {
    display: flex;
    
    width: 60%; /* Full width of the parent */
    height: 100%; /* Full height of the viewport, adjust as needed */

}

.left-reservation-section{

    height: 100%;
    width: 50%;
}
.right-reservation-section{

    height: 100%;
    width: 50%;
}

.reservationelement{
    margin-top: 20px;
    margin-bottom: 20px;
}

.reservationelement p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.info{
    padding: 10px;
}




/*Remove*/
.getRemove{
    height: 80vh;

    display: flex;
    justify-content: center;
    
    background-color: rgb(246, 246, 246);
}

.remove{
    height: 100%;
    width: 40%;
    padding: 20px;
}

.remove h2{
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select, input[type="date"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-col {
    flex-basis: 45%;
}

option {
    padding: 10px;
}

#submitBtn {
    background-color: rgb(221, 22, 22);
    border: none;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#submitBtn:hover {
    background-color: #a80505; /* Darker green on hover */
}

#submitBtn:active {
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Error message styling */
.error-message {
    color: #f00;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Placeholder styling */
::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}


